In [1]:
# Import relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
import Config
from sqlalchemy.orm import Session

In [2]:
# Read the data from CSV
diversity_data = pd.read_csv("Resources/2017-F500-diversity-data.csv")
# Company Name - Used map(lambda) and regular expression function to remove special characters before converting to lower case string to facilitate joining of 2 data sets
diversity_data['Company Name New'] = diversity_data['name'].map(lambda x: re.sub(r'\W','',x))
diversity_data['Company Name New'] = diversity_data['Company Name New'].str.lower()
# Filtered out company data that had partial and no diversity information
diversity_data = diversity_data.loc[diversity_data['data-avail'] == 'Y']
diversity_data = diversity_data.rename(columns={'f500-2017-rank':'Fortune 500 Rank', 'name':'Company Name'})
diversity_data.head()

,Fortune 500 Rank,Company Name,data-avail,data-url,diversity-pg-url,data-year,PAYROLL_START,PAYROLL_END,HISPM1,HISPM1_2,...,TOTAL3,TOTAL4,TOTAL5,TOTAL6,TOTAL7,TOTAL8,TOTAL9,TOTAL10,TOTAL11,Company Name New
2,3,Apple,Y,https://images.apple.com/diversity/pdf/2016-EE...,https://www.apple.com/diversity/,2016.0,7/1/2016,7/31/2016,2.0,411.0,...,16972.0,21315.0,4996.0,28.0,0.0,0.0,418.0,77192.0,72494.0,apple
11,12,Amazon.com,Y,https://images-na.ssl-images-amazon.com/images...,https://www.amazon.com/b?node=10080092011,2016.0,7/1/2016,7/8/2016,1.0,489.0,...,1753.0,965.0,7712.0,432.0,6491.0,113247.0,33.0,174541.0,114158.0,amazoncom
15,16,Costco Wholesale,Y,https://m.costco.com/wcsstore/CostcoUSBCCatalo...,https://www.costco.com/inclusion.html,2016.0,8/1/2016,8/14/2016,4.0,1401.0,...,5980.0,32853.0,7098.0,579.0,22099.0,38627.0,18664.0,142351.0,137262.0,costcowholesale
26,27,Alphabet,Y,https://static.googleusercontent.com/media/www...,https://www.google.com/diversity/,2016.0,8/15/2016,8/1/2016,0.0,340.0,...,560.0,2251.0,939.0,0.0,0.0,0.0,276.0,41200.0,34304.0,alphabet
27,28,Microsoft,Y,https://query.prod.cms.rt.microsoft.com/cms/ap...,https://www.microsoft.com/en-us/diversity/insi...,2016.0,NaN,NaN,6.0,323.0,...,0.0,4429.0,707.0,0.0,0.0,0.0,0.0,51374.0,47986.0,microsoft

In [3]:
# Read the data from CSV
diversity_dict = pd.read_csv("Resources/Data_Dictionary.csv")
print(diversity_dict.head())

               Name                                        Description  \
0    f500-2017-rank        Rank of the company on the 2017 Fortune 500
1              name  Name of the company as it appears on the Fortu...
2        data-avail  Indicates whether the company publicly release...
3          data-url  The link to the site where the diversity data ...
4  diversity-pg-url  The link to the webpage where the company has ...

      Type                                           Examples
0  numeric                                       1, 2, 3, etc
1     text    Wal-Mart Stores, Berkshire Hathaway, Apple, etc
2     text                                      Y, N, Partial
3      url                   https://www.apple.com/diversity/
4      url  https://images.apple.com/diversity/pdf/2016-EE...

In [4]:
# Read the data from CSV
company_data = pd.read_csv("Resources/Fortune_500_Companies_US.csv", encoding='ISO-8859-1')
# Company Name - Used map(lambda) and regular expression function to remove special characters before converting to lower case string to facilitate joining of 2 data sets
company_data['Company Name New'] = company_data['Company Name'].map(lambda x: re.sub(r'\W','',x))
company_data['Company Name New'] = company_data['Company Name New'].str.lower()
# Replaced few company names to ensure match during a join (e.g. â€˜Costcoâ€™ in one dataframe vs. â€˜Costco Wholesaleâ€™ in another dataframe)
company_data['Company Name New'] = company_data['Company Name New'].replace({'costco':'costcowholesale'})
company_data['Company Name'] = company_data['Company Name'].replace({'Costco':'Costco Wholesale'})
company_data.head(5)

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value,Company Name New
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.80%,"$13,643.00",-7.20%,"$1,98,825","$2,18,619",walmart
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.10%,"$24,074.00",0.00%,"$6,20,854","$4,11,035",berkshirehathaway
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.70%,"$45,687.00",-14.40%,"$3,21,686","$7,53,718",apple
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.70%,"$7,840.00",-51.50%,"$3,30,314","$3,40,056",exxonmobil
4,5,McKesson,"68,000",5.0,"$1,92,487",6.20%,"$2,258.00",53.00%,"$56,563","$31,439",mckesson

In [5]:
# Merged datasets using inner join using Company Name as the key
company_diversity = pd.merge(company_data, diversity_data, how='inner', left_on = 'Company Name New', right_on = 'Company Name New')
# Filtered out company data that had partial and no diversity information
company_diversity = company_diversity.loc[company_diversity['data-avail'] == 'Y']
company_diversity.head()

,Rank,Company Name_x,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value,...,TOTAL2,TOTAL3,TOTAL4,TOTAL5,TOTAL6,TOTAL7,TOTAL8,TOTAL9,TOTAL10,TOTAL11
0,3,Apple,"1,16,000",3.0,"$2,15,639",-7.70%,"$45,687.00",-14.40%,"$3,21,686","$7,53,718",...,23200.0,16972.0,21315.0,4996.0,28.0,0.0,0.0,418.0,77192.0,72494.0
1,12,Amazon.com,"3,41,400",18.0,"$1,35,987",27.10%,"$2,371.00",297.80%,"$83,402","$4,23,031",...,30443.0,1753.0,965.0,7712.0,432.0,6491.0,113247.0,33.0,174541.0,114158.0
2,16,Costco Wholesale,"1,72,000",15.0,"$1,18,719",2.20%,"$2,350.00",-1.10%,"$33,163","$73,606",...,5141.0,5980.0,32853.0,7098.0,579.0,22099.0,38627.0,18664.0,142351.0,137262.0
3,27,Alphabet,"72,053",36.0,"$90,272",20.40%,"$19,478.00",19.10%,"$1,67,497","$5,79,426",...,32092.0,560.0,2251.0,939.0,0.0,0.0,0.0,276.0,41200.0,34304.0
4,28,Microsoft,"1,14,000",25.0,"$85,320",-8.80%,"$16,798.00",37.80%,"$1,93,694","$5,08,935",...,49299.0,0.0,4429.0,707.0,0.0,0.0,0.0,0.0,51374.0,47986.0

In [6]:
# Use list comprehension to uniquely identify Female vs. Male columns names from the merged data set
female_col_list = [x for x in diversity_data.columns if "F" in x]
female_col_list1 = [y for y in female_col_list if y not in ('FT1', 'FT1_2', 'FT2', 'FT3', 'FT4', 'FT5', 'FT6', 'FT7', 'FT8', 'FT9','FT10','FT11')]
# Use list comprehension to uniquely identify Female vs. Male columns names from the merged data set
male_col_list = [x for x in diversity_data.columns if "M" in x]
male_col_list1 = [y for y in male_col_list if y not in ('MT1', 'MT1_2', 'MT2', 'MT3', 'MT4', 'MT5', 'MT6', 'MT7', 'MT8', 'MT9','MT10','MT11')]
# Used aggregation to compute female total, male total and total emp
company_diversity['Female Total'] = company_diversity[female_col_list1].sum(axis=1) 
company_diversity['Male Total'] = company_diversity[male_col_list1].sum(axis=1)
company_diversity['Total Emp'] = company_diversity['Female Total'] + company_diversity['Male Total']

In [7]:
# Created a new dataframe and used aggregation to show the % split between male and female employee strength for each company
company_diversity_m_f = company_diversity[['Fortune 500 Rank','Company Name_x','Total Emp','Female Total','Male Total']]
company_diversity_m_f['Female %'] = ((company_diversity_m_f['Female Total']/company_diversity_m_f['Total Emp'])*100)
company_diversity_m_f['Male %'] = ((company_diversity_m_f['Male Total']/company_diversity_m_f['Total Emp'])*100)
company_diversity_m_f = company_diversity_m_f.rename(columns={'Company Name_x':'Company Name','Revenues':'Revenue in $ million','Profits':'Profit in $ million','Market Value':'Market Value in $ million'})
company_diversity_m_f = company_diversity_m_f.round(2)
company_diversity_m_f = company_diversity_m_f.rename(columns={'Fortune 500 Rank':'Fortune_500_Rank','Company Name':'Company_Name','Total Emp':'Total_emp','Female Total':'Female_Total','Male Total':'Male_Total','Female %':'Female_Perc','Male %':'Male_Perc'})
company_diversity_m_f = company_diversity_m_f.set_index('Fortune_500_Rank')
company_diversity_m_f_df = company_diversity_m_f
company_diversity_m_f_df

,Company_Name,Total_emp,Female_Total,Male_Total,Female_Perc,Male_Perc
Fortune_500_Rank,,,,,,
3,Apple,226813.0,69226.0,157587.0,30.52,69.48
12,Amazon.com,470696.0,187142.0,283554.0,39.76,60.24
16,Costco Wholesale,425826.0,183523.0,242303.0,43.10,56.90
27,Alphabet,122846.0,38458.0,84388.0,31.31,68.69
28,Microsoft,164418.0,21413.0,143005.0,13.02,86.98
30,Citigroup,152224.0,83206.0,69018.0,54.66,45.34
47,Intel,162601.0,41306.0,121295.0,25.40,74.60
60,Cisco Systems,111785.0,29175.0,82610.0,26.10,73.90
61,HP,224193.0,73774.0,150419.0,32.91,67.09
69,Merck,43507.0,21821.0,21686.0,50.16,49.84
98,Facebook,22686.0,6735.0,15951.0,29.69,70.31
119,Qualcomm,54745.0,11316.0,43429.0,20.67,79.33
310,eBay,24505.0,9744.0,14761.0,39.76,60.24
391,Jones Lang LaSalle,62864.0,20973.0,41891.0,33.36,66.64
443,Adobe Systems,19533.0,6395.0,13138.0,32.74,67.26
498,Yahoo,22686.0,7386.0,15300.0,32.56,67.44

In [8]:
# Used list comprehension to uniquely identify diversity based on race (White, Black, Hawaiian, Asian, American Indian / Alaskan vs. Two or More Races)
hisp_list = [x for x in diversity_data.columns if "HISP" in x]
company_diversity['Hispanic_Total'] = company_diversity[hisp_list].sum(axis=1) 

white_list = [x for x in diversity_data.columns if "WH" in x]
company_diversity['White_Total'] = company_diversity[white_list].sum(axis=1)

black_list = [x for x in diversity_data.columns if "BLK" in x]
company_diversity['Black_Total'] = company_diversity[black_list].sum(axis=1) 

hawaii_list = [x for x in diversity_data.columns if "NHOPI" in x]
company_diversity['Hawaiian_Total'] = company_diversity[hawaii_list].sum(axis=1) 

asian_list = [x for x in diversity_data.columns if "ASIAN" in x]
company_diversity['Asian_Total'] = company_diversity[asian_list].sum(axis=1) 

am_ind_alsk_list = [x for x in diversity_data.columns if "AIAN"  in x]
company_diversity['American_Indian_Alaskan_Total'] = company_diversity[am_ind_alsk_list].sum(axis=1) 

two_more_race_list = [x for x in diversity_data.columns if "TOMR" in x]
company_diversity['Two_or_More_Race'] = company_diversity[two_more_race_list].sum(axis=1)

In [9]:
# Created a new dataframe and used aggregation to show the % split across various races for each company
company_diversity_race= company_diversity[['Fortune 500 Rank','Company Name_x', 'Revenues','Profits','Market Value','Total Emp','Hispanic_Total','White_Total','Black_Total','Hawaiian_Total','Asian_Total','American_Indian_Alaskan_Total','Two_or_More_Race']]
company_diversity_race['Hispanic_perc'] = ((company_diversity_race['Hispanic_Total']/company_diversity_race['Total Emp'])*100)
company_diversity_race['White_perc'] = ((company_diversity_race['White_Total']/company_diversity_race['Total Emp'])*100)
company_diversity_race['Black_perc'] = ((company_diversity_race['Black_Total']/company_diversity_race['Total Emp'])*100)
company_diversity_race['Hawaiian_perc'] = ((company_diversity_race['Hawaiian_Total']/company_diversity_race['Total Emp'])*100)
company_diversity_race['Asian_perc'] = ((company_diversity_race['Asian_Total']/company_diversity_race['Total Emp'])*100)
company_diversity_race['American_Indian_Alaskan_Total_perc'] = ((company_diversity_race['American_Indian_Alaskan_Total']/company_diversity_race['Total Emp'])*100)
company_diversity_race['Two_or_More_Race_perc'] = ((company_diversity_race['Two_or_More_Race']/company_diversity_race['Total Emp'])*100)
company_diversity_race = company_diversity_race.rename(columns={'Company Name_x':'Company_Name','Revenues':'Revenue_in_million','Profits':'Profit_in_million','Market Value':'Market_Value_in_million','Fortune 500 Rank':'Fortune_500_Rank','Total Emp':'Total_Emp'})
company_diversity_race = company_diversity_race.round(2)
company_diversity_race = company_diversity_race.set_index('Fortune_500_Rank')
company_diversity_race['Revenue_in_million']= company_diversity_race['Revenue_in_million'].str.replace('$','')
company_diversity_race['Revenue_in_million']= company_diversity_race['Revenue_in_million'].str.replace(',','')
company_diversity_race['Profit_in_million']= company_diversity_race['Profit_in_million'].str.replace('$','')
company_diversity_race['Profit_in_million']= company_diversity_race['Profit_in_million'].str.replace(',','')
company_diversity_race['Market_Value_in_million']= company_diversity_race['Market_Value_in_million'].str.replace('$','')
company_diversity_race['Market_Value_in_million']= company_diversity_race['Market_Value_in_million'].str.replace(',','')
company_diversity_race['Revenue_in_million'] = pd.to_numeric(company_diversity_race['Revenue_in_million'])
company_diversity_race['Profit_in_million'] = pd.to_numeric(company_diversity_race['Profit_in_million'])
company_diversity_race['Market_Value_in_million'] = pd.to_numeric(company_diversity_race['Market_Value_in_million'])
company_diversity_race_df = company_diversity_race
company_diversity_race_df

,Company_Name,Revenue_in_million,Profit_in_million,Market_Value_in_million,Total_Emp,Hispanic_Total,White_Total,Black_Total,Hawaiian_Total,Asian_Total,American_Indian_Alaskan_Total,Two_or_More_Race,Hispanic_perc,White_perc,Black_perc,Hawaiian_perc,Asian_perc,American_Indian_Alaskan_Total_perc,Two_or_More_Race_perc
Fortune_500_Rank,,,,,,,,,,,,,,,,,,,
3,Apple,215639,45687.0,753718,226813.0,27462.0,127810.0,20418.0,1083.0,42659.0,807.0,4688.0,12.11,56.35,9.00,0.48,18.81,0.36,2.07
12,Amazon.com,135987,2371.0,423031,470696.0,60014.0,225607.0,95630.0,2096.0,59396.0,2831.0,17388.0,12.75,47.93,20.32,0.45,12.62,0.60,3.69
16,Costco Wholesale,118719,2350.0,73606,425826.0,110581.0,221899.0,42294.0,4266.0,31486.0,2379.0,9059.0,25.97,52.11,9.93,1.00,7.39,0.56,2.13
27,Alphabet,90272,19478.0,579426,122846.0,6602.0,76072.0,3080.0,276.0,33205.0,162.0,2440.0,5.37,61.92,2.51,0.22,27.03,0.13,1.99
28,Microsoft,85320,16798.0,508935,164418.0,10197.0,95098.0,6795.0,278.0,47667.0,946.0,2636.0,6.20,57.84,4.13,0.17,28.99,0.58,1.60
30,Citigroup,82386,14912.0,165394,152224.0,23896.0,87970.0,17098.0,318.0,21054.0,482.0,868.0,15.70,57.79,11.23,0.21,13.83,0.32,0.57
47,Intel,59387,10316.0,170539,162601.0,13190.0,82865.0,6143.0,672.0,56272.0,902.0,1959.0,8.11,50.96,3.78,0.41,34.61,0.55,1.20
60,Cisco Systems,49247,10739.0,169266,111785.0,5644.0,60541.0,3792.0,159.0,39948.0,276.0,1006.0,5.05,54.16,3.39,0.14,35.74,0.25,0.90
61,HP,48238,2496.0,30231,224193.0,15219.0,157339.0,14979.0,312.0,31982.0,946.0,2483.0,6.79,70.18,6.68,0.14,14.27,0.42,1.11
69,Merck,39807,3920.0,174454,43507.0,2082.0,32306.0,3334.0,0.0,5598.0,118.0,0.0,4.79,74.25,7.66,0.00,12.87,0.27,0.00
98,Facebook,27638,10217.0,410522,22686.0,940.0,12311.0,371.0,61.0,8030.0,37.0,621.0,4.14,54.27,1.64,0.27,35.40,0.16,2.74
119,Qualcomm,23554,5705.0,84694,54745.0,2721.0,20125.0,966.0,209.0,29274.0,81.0,1002.0,4.97,36.76,1.76,0.38,53.47,0.15,1.83
310,eBay,8979,7266.0,36232,24505.0,1099.0,13646.0,1153.0,96.0,7821.0,55.0,212.0,4.48,55.69,4.71,0.39,31.92,0.22,0.87
391,Jones Lang LaSalle,6804,318.2,5043,62864.0,5670.0,48366.0,5136.0,183.0,2846.0,272.0,0.0,9.02,76.94,8.17,0.29,4.53,0.43,0.00
443,Adobe Systems,5854,1168.8,64375,19533.0,834.0,13213.0,289.0,50.0,4572.0,32.0,78.0,4.27,67.64,1.48,0.26,23.41,0.16,0.40
498,Yahoo,5169,-214.3,44391,22686.0,911.0,10655.0,409.0,51.0,9515.0,37.0,430.0,4.02,46.97,1.80,0.22,41.94,0.16,1.90

In [10]:
# setup pymysql and connect to local MySQL workbench
pymysql.install_as_MySQLdb() 
password = Config.pwd
string = f"mysql://root:{password}@localhost/diversity_db"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()

In [11]:
# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [12]:
# Create company_diversity_m_f and company_diversity_race classes
# ----------------------------------
class company_diversity_m_f(Base):
    __tablename__ = 'company_diversity_m_f'
    Fortune_500_Rank = Column(Integer, primary_key=True)
    Company_Name = Column(String(255))
    Total_emp = Column(Integer)
    Female_Total = Column(Integer)
    Male_Total = Column(Integer)
    Female_Perc = Column(Float)
    Male_Perc = Column(Float)

class company_diversity_race(Base):
    __tablename__ = 'company_diversity_race'
    Fortune_500_Rank = Column(Integer, primary_key=True)
    Company_Name = Column(String(255))
    Revenue_in_million = Column(Float)
    Profit_in_million = Column(Float)
    Market_Value_in_million = Column(Float)
    Total_Emp = Column(Integer)
    Hispanic_Total = Column(Integer)
    White_Total = Column(Integer)
    Black_Total = Column(Integer)
    Hawaiian_Total = Column(Integer)
    Asian_Total = Column(Integer)
    American_Indian_Alaskan_Total = Column(Integer)
    Two_or_More_Race = Column(Integer)
    Hispanic_perc = Column(Float)
    White_perc = Column(Float)
    Black_perc = Column(Float)
    Hawaiian_perc = Column(Float)
    Asian_perc = Column(Float)
    American_Indian_Alaskan_Total_perc = Column(Float)
    Two_or_More_Race_perc = Column(Float)

In [13]:
# Create both the company_diversity_m_f and company_diversity_race tables within the database
Base.metadata.create_all(conn)
# confirming that tables got created in the DB
engine.table_names()

['company_diversity_m_f', 'company_diversity_race']

In [14]:
# Create a session that binds to the engine to enable insert of data
session = Session(bind=engine)

In [15]:
# insert data into the 'company_diversity_m_f' table in the database
company_diversity_m_f_df.to_sql(name='company_diversity_m_f', con=engine, if_exists='replace', index=True)
# read the data from DB table to ensure data was loaded successfully
pd.read_sql_query('select * from company_diversity_m_f', con=engine).head()

,Fortune_500_Rank,Company_Name,Total_emp,Female_Total,Male_Total,Female_Perc,Male_Perc
0,3,Apple,226813.0,69226.0,157587.0,30.52,69.48
1,12,Amazon.com,470696.0,187142.0,283554.0,39.76,60.24
2,16,Costco Wholesale,425826.0,183523.0,242303.0,43.10,56.90
3,27,Alphabet,122846.0,38458.0,84388.0,31.31,68.69
4,28,Microsoft,164418.0,21413.0,143005.0,13.02,86.98

In [16]:
# insert data into the 'company_diversity_race' table in the database
company_diversity_race_df.to_sql(name='company_diversity_race', con=engine, if_exists='replace', index=True)
# read the data from DB table to ensure data was loaded successfully
pd.read_sql_query('select * from company_diversity_race', con=engine).head()

,Fortune_500_Rank,Company_Name,Revenue_in_million,Profit_in_million,Market_Value_in_million,Total_Emp,Hispanic_Total,White_Total,Black_Total,Hawaiian_Total,Asian_Total,American_Indian_Alaskan_Total,Two_or_More_Race,Hispanic_perc,White_perc,Black_perc,Hawaiian_perc,Asian_perc,American_Indian_Alaskan_Total_perc,Two_or_More_Race_perc
0,3,Apple,215639,45687.0,753718,226813.0,27462.0,127810.0,20418.0,1083.0,42659.0,807.0,4688.0,12.11,56.35,9.00,0.48,18.81,0.36,2.07
1,12,Amazon.com,135987,2371.0,423031,470696.0,60014.0,225607.0,95630.0,2096.0,59396.0,2831.0,17388.0,12.75,47.93,20.32,0.45,12.62,0.60,3.69
2,16,Costco Wholesale,118719,2350.0,73606,425826.0,110581.0,221899.0,42294.0,4266.0,31486.0,2379.0,9059.0,25.97,52.11,9.93,1.00,7.39,0.56,2.13
3,27,Alphabet,90272,19478.0,579426,122846.0,6602.0,76072.0,3080.0,276.0,33205.0,162.0,2440.0,5.37,61.92,2.51,0.22,27.03,0.13,1.99
4,28,Microsoft,85320,16798.0,508935,164418.0,10197.0,95098.0,6795.0,278.0,47667.0,946.0,2636.0,6.20,57.84,4.13,0.17,28.99,0.58,1.60